<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA39GUu5_lAt3xGc4sFhetkWYCDLNASIYc</string>
	<key>GCM_SENDER_ID</key>
	<string>824733696034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cjFlutterRiverpodInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>cj-flutter-riverpod-instagram</string>
	<key>STORAGE_BUCKET</key>
	<string>cj-flutter-riverpod-instagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824733696034:ios:b06bc4446284c09bd60a7b</string>
</dict>
</plist>